body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  color: #22c55e;
  font-size: 40px;
}

p {
  color: #cbd5e1;
  font-size: 18px;
}
